<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/cadastra.css">
    <title>Document</title>
</head>

<body>
    <header>
        <button class="Bvoltar"><a href="Home.html">Voltar</a></button>
        <h1>MlDecoração</h1>
    </header>

    <div class="placeimg">
        <img class="logo" src="images/logo_ML.png" alt="">
    </div>

    <div class="placetitle">
        <h1 class="title">Acesse ou crie sua conta</h1>
    </div>

    <div class="placetable">
        <div class="tabel">
            <h1>Cadastra-se</h1>
            <form action="/cadastro" method="POST" class="form-section">
                <div class="input-group">
                    <span class="icon">👤</span>
                    <input type="text" name="nome" placeholder="Nome" required>
                </div>

                <div class="input-group">
                    <span class="icon">👤</span>
                    <input type="text" name="sobrenome" placeholder="Sobrenome" required>
                </div>

                <div class="input-group">
                    <span class="icon">📧</span>
                    <input type="email" name="email" placeholder="Email" required>
                </div>

                <div class="input-group">
                    <span class="icon">🔒</span>
                    <input type="password" name="senha" placeholder="Senha" required>
                </div>

                <div class="input-row">
                    <div class="input-group">
                        <span class="icon">🌐</span>
                        <input type="text" name="cpf_cnpj" id="cpf_cnpj" placeholder="CPF ou CNPJ" required maxlength="18">
                    </div>
                    <div class="input-group">
                        <input type="tel" name="telefone" id="telefone" placeholder="Telefone" required maxlength="15">
                    </div>
                </div>

                <div class="input-group">
                    <span class="icon">📍</span>
                    <input type="text" id="cep" name="cep" placeholder="CEP" required onblur="buscarEndereco()" maxlength="10">
                </div>

                <div class="input-row">
                    <div class="input-group">
                        <input type="text" id="estado" name="estado" placeholder="Estado" required>
                    </div>
                    <div class="input-group">
                        <input type="text" id="cidade" name="cidade" placeholder="Cidade" required>
                    </div>
                </div>

                <div class="input-group">
                    <input type="text" id="bairro" name="bairro" placeholder="Bairro" required>
                </div>

                <div class="input-group">
                    <input type="text" id="rua" name="rua" placeholder="Rua" required>
                </div>

                <div class="input-group">
                    <input type="text" name="numero_da_casa" placeholder="Número" required>
                </div>

                <div class="div-criarConts">
                    <button type="submit">Criar Conta</button>
                </div>
            </form>

            <div class="log">
                <p>Possui uma conta? <a href="/views/login.html">Usar Conta</a></p>
            </div>
        </div>
    </div>
    <!--
    <div class="PlaceHelp">
        <div>
            <p>Problema? Fale conosco</p>
        </div>
    </div>
    -->

    <script src="../script/cadastra.js"></script>
</body>

</html>