<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/calendario.css">
    <title>MlDecoração - calendário </title>
</head>

<body>



    <header>
        <div class="Top">

            

        
        </div>
    </header>




    <div class="placeback">
        <button id="bntvoltar"><a href="carrinho.html">voltar</a></button>
    </div>


    <div class="title">
        <h1>Calendário Interativo</h1>
    </div>

    <main>

        <div id="TableCalendar">
            <p>Marque o dia da sua festa</p>

            <div class="month-nav">
                <button onclick="changeMonth(-1)">&#9664;</button>
                <span id="month-display">julho</span>
                <button onclick="changeMonth(1)">&#9654;</button>

                <select id="year-select"></select>
            </div>

            <div id="calendar"></div>

            <div class="date-output">
                <div id="day-output">Dia: </div>
                <div id="month-output">Mês: </div>
                <div id="year-output">Ano: </div>
            </div>

            <div class="rental-dates">
                <div id="party-date">Data da Festa: --</div>
                <div id="pickup-date">Data de Retirada: --</div>
                <div id="return-date">Data de Devolução: --</div>
            </div>

            <div class="terms-button">
                <!-- Botão desativado até que uma data seja selecionada -->
                <button class="confirm"><a href="pagamento.html">Confirmar</a></button>
            </div>


        </div>
    </main>




<script src="../Calendario.js"></script>

</body>

</html>