<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/pagamento.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>MlDecoração - Tela de Pagamento</title>
</head>

<body>


    <header>
        <div class="Top">
    
         
    
            <div class="InfoUseHome">
                <i class="fa-solid fa-user"></i>
                <a href="login.html">Login ou cadastre-se</a>
            </div>
        </div>
    </header>

  <section class="SectionNav">
        <div class="Left">
          <!--
            <button id="BtnToggleCategorias">
                <span id="SpanCategoriasUm"></span>
                <span id="SpanCategoriasDois"></span>
                <span id="SpanCategoriasTrez"></span>
                
            </button>
            -->
            
            <!-- <p id="BtnToggleCategorias" style="cursor: pointer;">Todas as categorias</p>-->
            <!-- <i class="fa-solid fa-angle-up"></i> -->
            <!--<i id="BtnToggleCategorias" class="fa-solid fa-caret-down" style="cursor: pointer; transition: .4s ease-in-out;"></i>-->

            <div id="InfoUseHome" class="InfoUseHome">
                <i class="fa-solid fa-user"></i>
                <a href="Home.html">Login ou cadastre-se</a>
            </div>
        </div>

        <div class="Rigth">
           <!-- Seu comentário aqui 
          <button>
                <i class="fa-solid fa-comment"></i>
                Fale conosco
            </button>
                -->
            <button>
                <i class="fa-solid fa-cart-shopping"></i>
                <a href="carrinho.html">  Carrinho</a>
            </button>
        </div>
    </section>


    <div id="dropdown-menu" class="menucult">
        <button>Login ou Cadastra-se</button>
        <button>Notificação</button>
        <button>Configuração</button>
    </div>

    <div class="placeback">
        <button id="bntvoltar"><a href="calendario.html">voltar</a></button>
    </div>

    <main>
        <div id="TablePay">

            <div class="TablePay_pay">

                <div class="TablePay_pay_text">
                    <h1>Formas de Pagamentos</h1>
                </div>

                <section class="TablePay_methodPaymant">
                    <input type="checkbox" id="card" name="payment">
                    <label for="card">Cartão</label>
                    <input type="checkbox" id="pix" name="payment">
                    <label for="pix">Pix</label>

                </section>
            </div>

            <div id="container">

                <div id="Orcamento">
                    <h2>Orçamento</h2>
                    <div>
                        <p>Cliente:<a>roger</a></p>
                    </div>
                    <div>
                        <p>Item:</p>
                        <p>Decoração de Luxo</p>
                        <p>Decoração de aniversario</p>
                    </div>
                    <div>
                        <p>Metodo de Pagamento:</p>
                        <p>pix</p>
                        <p>Data pra pegar o produto: <a>29/10/2014</a></p>
                        <p>data para entregar o produto: <a>30/10/2014</a></p>
                    </div>
                    <p>valor total</p>
                    <p>R$400,0</p>
                </div>


                <div class="TablePay_politics">
                    <h2>Principais Politicas</h2>
                    <div id="politicas">

                        <p>
                            Os orçamentos são gratuitos e válidos por 7 dias. Após esse prazo, valores e prazos podem
                            sofrer alterações.
                        </p>

                        <p>Prazo de Entrega</p>
                        <p>
                            O prazo de produção e entrega será informado após a confirmação do pedido e do pagamento.
                        </p>

                        <p>Atendimento</p>
                        <p>
                            Funcionamos de segunda a sexta, das 9h às 18h. Contato via WhatsApp, e-mail ou redes
                            sociais.
                        </p>

                    </div>

                    <a href="../views/final.html"><button  id="Reserv">Reservar</button></a>
                </div>

            </div>



        </div>
    </main>




    <script src="script.js"></script>
</body>

</html>